@media (min-width:320px) and (max-width:549px){
    
/*--------------------------------------navigation bar-------------------------*/

.navbar-inverse {
    background-color: black;
    border-color: #080808;
    padding:20px ;
    margin-bottom: 0px;
    position: fixed;
   
    z-index: 1;
    width: 100%;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #ff0e32;
    background-color: rgb(63, 51, 51);
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand {
     font-weight: bold;
     font-size: 35px;
     color:#ff0e32;
     text-shadow: 2px 1px 5px rgb(207, 118, 118) !important;
    background-color:transparent;
}


/*--------------------------home---------------------------------*/
.container {
    padding-right: 10px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 71px;
    min-width: 1130px;
}

#page1{
    margin: 95px 0px 0px;
}
.page-header{
       position: relative;
       padding: 30px;
       background-size: cover;
       -webkit-background-size: cover;
       background-attachment: scroll;
       background-position: center center;
       background-repeat: no-repeat;
    

}

.page-header {
    min-width: 1000px;
    min-height: 1000px;
    border-bottom: 5px solid rgb(8, 8, 8);
}

.col-sm-4 img{
    min-height: 610px;
    min-width: 550px; 
}

.col-sm-4 img{
    transition: transform 0.8s;
}

.col-sm-4 img:hover {
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    border-right: 3px solid rgb(243, 28, 28); 
}


.divide .col-sm-4{
    min-height: 500px;
    margin-left: auto;
    margin-right:450px;
}


/*-----------------------------naveen bellad----------------------------------*/

.divide .col-sm-8 {
    height:300px;
    min-width: 720px;
    margin-left: auto;
    margin-right: auto;
}


h1, .h2, .h3, h1, h2, h3 {
 
    text-align: center;
   
}

.title-block h2{
    font-size: 60px;
    font-weight: bold;
    color:rgba(245, 234, 234, 0.911);
    text-shadow: 2px 1px 3px rgb(175, 175, 241);
    margin-top: 175px;
    margin-left: 40px;

}

.title-block h1{
    font-size: 55px;
    color: rgb(211, 189, 189);
    font-weight:bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*------------------------------------icons-----------------------------*/

#icons{
    
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
#icons ul {
    position: relative;
    display: flex;
}

#icons ul li{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    
}

#icons ul li a{
    text-decoration: none;

}

#icons ul li a .fa{
    font-size: 65px;
    
}

#icons ul li a .fa:hover{
    font-size: 75px;
    
}


/*------------------------------------about me-----------------------------------*/ 
#h1{
    font-size: 64px;
    font-weight: bold;
    color:#e80929;
    text-shadow: 2px 1px 5px rgb(207, 118, 118);
}

#h2{
    font-size:50px;
     color: white;
}
.divide1 .col-sm-4{
    height: 300px;
    min-width: 420px;
    margin-left: auto;
    margin-right: 440px;
    transition: transform 1s;
}

.divide1 .col-sm-4:hover{
    color: rgb(88, 88, 143);
    cursor: pointer;
    border-right: 3px solid rgb(243, 28, 28);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.divide1 .col-sm-10{
    height: 300px;
    width:810px;
    
}

.divide1 .col-sm-4 h1{
    margin-top: 40px;
    color:rgba(245, 234, 234, 0.911);
    text-shadow: 2px 1px 3px rgb(175, 175, 241);
}

/*--------------------------------------------information-----------------*/

.info-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 15px;
}

.info-list li .title {
    display: inline-block;
    min-width: 120px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 45px;
}

.info-list li .value {
    display: inline-block;
    color:rgb(190, 175, 175);
   font-size: 50px;
}


/*----------------------------------resume---------------------------------------*/

.page-header {
    padding-bottom: 20px;
    margin: 20px 0 0px;
    border-bottom: 5px solid rgb(243, 28, 28);
}

#row1{
    background-repeat:repeat;
    background-size: cover;
    height: 438px;
    margin-bottom: 20px;
    width: 1100px;
}

.col-xs-4 {
    color: rgb(214, 203, 203);
    height: 315px;
    width: 365px;
    
}

.col-xs-4 h2,h3{
    transition: transform 0.8s;
}

.col-xs-4 h2:hover,h3:hover {
    color: rgb(204, 47, 47);
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    border-right: 3px solid rgb(243, 28, 28); 
}

p {
    margin: 25px 80px 28px;
}

.item-description{
    font-size: 30px;
}


/*------------------------------skills----------------------------------*/
#skillh2{
    color:#e80929;
    text-shadow: 2px 1px 5px rgb(207, 118, 118);
    font-weight: bold;
    font-size: 60px;
    padding-top: 15px;
}

.progress-bar {
    float:left;
    width: 0%;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    color: rgb(8, 8, 8);
    text-align: center;
    background-color: #4c7fac;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.col-sm-12 p{
    color:  rgb(214, 203, 203);;
}

#skill{
    background-repeat: repeat;
    background-size: cover;
    border-bottom: 5px solid rgb(243, 28, 28);
    height: 450px;
    width: 1100px;
}


.col-sm-12 p{
    transition: transform 0.8s ;
}

.col-sm-12 p:hover {
    color: rgb(204, 47, 47);
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
   
}


/*----------------------------------------projects-------------------------------*/

#project{
    border-bottom: 5px solid rgb(243, 28, 28);
    height: 200px;
    min-width: 1110px;
    margin-top: 80px;
    margin-left: 0px;
  }

#project h2{
    font-weight: bold;
    color:#f10a2d;
    text-shadow: 2px 1px 5px rgb(207, 118, 118);
}

.col-sm-12{
    min-width: 973px;
    height: 220px;
}

.col-sm-12 #pro p{
    margin-top: 38px;
    text-align: center;
    transition: transform 0.8s ;
}

.col-sm-12 #pro p:hover {
    color: rgb(204, 47, 47);
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
   
}




}